# ======================================
# Archivos de entorno / Environment files
# ======================================
.env
.env.*
!.env.example

# ======================================
# Dependencias / Dependencies
# ======================================
**/node_modules/

# ======================================
# Archivos del sistema operativo / Operating system files
# ======================================
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db

# ======================================
# Archivos de compilación y logs / Build files and logs
# ======================================
dist/
build/
out/
coverage/
*.log
logs/
.cache/
*.tmp
*.temp

# ======================================
# Configuraciones de IDE / IDE Configurations
# ======================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ======================================
# Archivos de sesión o bases de datos / Session files or databases
# ======================================
*.pid
*.seed
*.pid.lock
*.db
*.sqlite
*.sqlite3

# ======================================
# Archivos de paquetes / Package files
# ======================================
package-lock.json
yarn.lock
pnpm-lock.yaml
